*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: coral;
    }
.box{
    margin-left: 35%;
    background-color: aliceblue;
    display: inline-block;
    margin-top: 20%;
    padding: 50px;
}
.list{
    background-color:  rgb(187, 183, 183);
    padding: 10px;
}
.image{
    cursor: pointer;
    width: 20px;
}
.div{
   
    background-color: rgb(187, 183, 183);
    display: inline-block;
    padding-right: 10px;
    border-radius: 5px;
}
.icons{
    margin-top: 20px;
}
.correct{
    cursor: pointer;
}
.newdiv{
    cursor: pointer;
}